# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
.DS_Store
dist
dist-ssr
coverage
*.local

# Editor directories and files
.vscode/*
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

*.tsbuildinfo

.eslintcache

# Cypress
/cypress/videos/
/cypress/screenshots/

# Vitest
__screenshots__/

# Config Files
.editorconfig
.prettierrc.json
.gitattributes
eslint.config.js

# Dev Directory
dev/

# Parsed Content
public/books.json
public/books/
public/images/books/
public/images/L/
public/images/M/
public/images/S/
public/images/full/
