@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,400;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sono:MONO@1&display=swap');

:root {
  --font-text: 'Barlow';
  --col-font: #fff;
  --col-font-fade: #666;
  --col-success: #3c5;
  --bg-body: #060606;
  --bg-page: #141414;
  --bg-navbar: #232323;
  --bg-box: #232323;
  --bg-boxlight: #393939;
  --bg-system: #204990;
  --bg-highlight: #607095;
  --bg-light: #c0c0f0;
  --bg-shade: rgba(0, 0, 0, 0.3);
  --bg-darkshade: rgba(0, 0, 0, 0.7);
  --bg-error: #c02000;
  --bg-warning: #501010;
  --bg-code: rgba(255, 255, 255, 0.2);
  --shadow-black: #000;
  --width-navbar: 12rem;
  --width-page: 100%;
  --text-shadow: 0 0 2px #000, 0 0 4px #000, 0 0 6px #000;
  --drop-shadow: 2px 2px 10px #000;
}

* {
  box-sizing: border-box;
  scrollbar-color: var(--bg-highlight) var(--bg-box);
  scrollbar-width: thin;
}

body {
  margin: 0;
  padding: 0;
  color: var(--col-font);
  font-family: var(--font-text);
  background: var(--bg-body);
  height: 100vh;
}

.page-header {
  display: flex;
  flex-direction: column;
  margin: 0 0 1rem;
}

h1 {
  display: block;
  margin: 0 auto;
  padding: 0.5rem 2rem;
  border-radius: 100rem;
  font-size: 2rem;
  background: var(--bg-highlight);
}

h2 {
  display: block;
  margin: -0.25rem auto 0;
  padding: 0.25rem 1.5rem;
  border-radius: 100rem;
  font-size: 1.5rem;
  background: var(--bg-box);
}

h3:first-child,
h4:first-child,
h5:first-child {
  margin-top: 0;
}

small {
  font-size: 0.75rem;
}

code {
  background: var(--bg-code);
}

.tag {
  padding: 0 0.25rem;
  margin-right: 0.5rem;
  background: var(--bg-highlight);
  border-radius: 0.25rem;
}

button {
  padding: 0.5rem 1rem;
  margin: 0 0.5rem 0.5rem 0;
  border: none;
  border-radius: 0.5rem;
  background: var(--bg-box);
  color: var(--col-font);
  text-align: left;
  cursor: pointer;
}
button.centered {
  text-align: center;
}
button:disabled {
  color: var(--col-font-fade);
  cursor: not-allowed;
}
button:hover {
  background: var(--bg-highlight);
}
button:disabled:hover {
  background: var(--bg-box);
}

/* Pills */

.pill {
  font-size: 0.75rem;
  padding: 0 0.5rem;
  margin: 0 0.25rem;
  border-radius: 1rem;
  background: var(--bg-highlight);
}
button:hover .pill {
  background: var(--bg-light);
}

/* Layout Elements */

.horizontal-flex {
  display: flex;
  flex-wrap: wrap;
  align-content: top;
  gap: 1rem;
}
.box .horizontal-flex {
  gap: 0.5rem;
}

.vertical-center-flex {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
.box .vertical-center-flex {
  gap: 0.5rem;
}

/* Boxes */

.box {
  width: 100%;
  box-sizing: border-box;
  border-radius: 0.5rem;
  background: var(--bg-box);
  overflow: hidden;
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.2);
}

.box button {
  background: var(--bg-boxlight);
}
.box button:hover {
  background: var(--bg-highlight);
}

/* Hints */

.hint-anchor {
  position: relative;
}

.hint {
  display: none;
  position: absolute;
  right: 0;
  top: 0;
  font-size: 1rem;
  font-weight: normal;
  font-family: 'Sono';
  border-radius: 0.25rem;
  padding: 0 0.25rem;
  border: 1px solid var(--bg-light);
  box-shadow: 0 0 0.25rem 0 var(--bg-light);
  background: var(--bg-box);
}

.flag-show-hints .hint {
  display: block;
}

/* Selections */

.item-selection > * {
  margin: 2px;
  box-sizing: content-box;
  cursor: pointer;
}

.item-selection > .selected {
  box-shadow: 0px 0px 0.25rem 0.25rem var(--bg-light);
}

.item-selection > *:hover,
.item-selection > .selected:hover {
  margin: 0;
  border: 2px solid var(--bg-light);
}
